# Compulsory Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [1]:
import sys  
!{sys.executable} -m pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.1.2/libexec/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [42]:

import pandas as pd
balance_df = pd.read_table('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [30]:
# Select the 'Limit' and 'Rating' columns of the first five observations
balance_df = balance_df[['Limit', 'Rating']]
balance_df.head()

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [36]:
# Select the first five observations with 4 cards
balance_df.loc[4]

Limit     4897
Rating     357
Name: 4, dtype: int64

In [ ]:
# Sort the observations by 'Education'. Show users with a high education value first.
balance_df = balance_df['Education']

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [37]:
# [Add explanation here] goes from max column to max width of dataframe
balance_df.iloc[:,:]

     Limit  Rating
0     3606     283
1     6645     483
2     7075     514
3     9504     681
4     4897     357
..     ...     ...
395   4100     307
396   3838     296
397   4171     321
398   2525     192
399   5524     415

[400 rows x 2 columns]

In [38]:
# [Add explanation here]all the row index labels from the 5th column index forward are output
balance_df.iloc[5:,5:]

Empty DataFrame
Columns: []
Index: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, ...]

[395 rows x 0 columns]

In [39]:
# [Add explanation here] only the first column is output with the column indexing
balance_df.iloc[:,0]

0      3606
1      6645
2      7075
3      9504
4      4897
       ...
395    4100
396    3838
397    4171
398    2525
399    5524
Name: Limit, Length: 400, dtype: int64

In [40]:
# [Add explanation here] the 9th row with the row labels are output
balance_df.iloc[9,:]

Limit     6819
Rating     491
Name: 9, dtype: int64